<!-- <div class="titulo">
    <h1 class="text-center">CONOCENOS</h1>
</div> -->

<div class="contendor">
    <div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
          <div class="carousel-item active carousel-custom">
            <img src="../../../../assets/BIENVENIDO.png" class="d-block" alt="Imagen 1">
          </div>
          <div class="carousel-item carousel-custom">
            <img src="../../../../assets/BIENVENIDO (1).png" class="d-block" alt="Imagen 2">
          </div>
          <div class="carousel-item carousel-custom">
            <img src="../../../../assets/BIENVENIDO (2).png" class="d-block" alt="Imagen 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
      
</div>

<!-- <div class="py-8">
  <div class="card-group">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div> -->

<div class="bg-white py-1 sm:py-1">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3 justify-center content-start">
      <article class="flex max-w-xl flex-col items-start justify-between ">
        <div class="flex items-center gap-x-4 text-xs">
          <!-- <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2020</time> -->
          <!-- <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Marketing</a> -->
        </div>
        <div class="group  relative content-start">
          <img src="../../../../assets/mision.jpg" alt="">
          <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
              <span class="absolute inset-0"></span>
              Misión
          </h3>
          <p class="mt-2 text-sm/6 text-gray-600">Fomentar la cultura y el amor por la lectura ofreciendo un espacio donde cada persona pueda encontrar libros que eduquen, inspiren y entretengan. Nos esforzamos por ser más que una librería: un punto de encuentro para la creatividad, el pensamiento crítico y el intercambio de ideas.</p>
        </div>
      </article>

      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <!-- <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2020</time> -->
          <!-- <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Marketing</a> -->
        </div>
        <div class="group relative">
          <img src="../../../../assets/vision.jpg" alt="">
          <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
              <span class="absolute inset-0"></span>
              Visión
          </h3>
          <p class="mt-2 text-sm/6 text-gray-600">Ser el referente cultural líder en el mundo del libro, promoviendo el acceso a la literatura y el conocimiento a través de experiencias innovadoras, eventos culturales y tecnología. Queremos seguir siendo el puente entre los lectores y las historias que los transforman.</p>
        </div>
      </article>


      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <!-- <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2020</time> -->
          <!-- <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Marketing</a> -->
        </div>
        <div class="group relative">
          <img src="../../../../assets/valores.jpeg" alt="">
          <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
              <span class="absolute inset-0"></span>
              Valores
          </h3>
          <p class="mt-2 text-sm/6 text-gray-600"></p>
            <ul class="mt-2 text-sm/6 text-gray-600 list-disc">
              <li>Pasión por la lectura</li>
              <li>Compromiso con la calidad</li>
              <li>Innovación constante</li>
              <li>Respeto por la diversidad</li>
              <li>Responsabilidad social</li>
              <li>Excelencia en el servicio al cliente</li>
            </ul>
          
        </div>
      </article>


      



    </div>


    
  </div>
</div>